{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block body_class %}template-pic-content{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authorList.css' %}">
    <br>
    <br>
    <br>
    <br>
    <div class="authorPage">
        <div class="weizhi">
            <span>当前位置:&nbsp;</span>
            <a href="/">网站首页</a>
            &nbsp;>&nbsp;
            设计师列表
        </div>
        <!-- {% if position_list %}
            {% for position in position_list %}
                {{ position }}<br>
            {% endfor %}
        {% endif %} -->
        {% if authors %}
            <div class="authors">
                <ul>
                    {% for author in authors %}
                        <li key={{ author }}>
                            <a href="{% pageurl author %}"><img class="authorImg" src="/media/{{ author.image.file }}" /></a>
                            <div class="authorInfo">
                                <p class="author_name">{{ author.name }}</p>
                                <div class="author_profile">{{ author.position }}</div>
                                <span class="author_workyears">经验： {{ author.working_years }}年</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- 翻页功能开发: 可以设置固定显示图片数，然后根据翻页内容，调整图片margin-top的高度，来确定显示哪些图片。。不是真实的分页 -->
        <!-- <ul class="pagination">
        {% if authors.has_previous %}
            <li>
                <a href="?page={{ authors.previous_page_number }}&page_size={{ page_size }}"><i class="fa fa-angle-left">前一页232323</i></a>
            </li>
        {% endif %}

        {% for page_num in authors.paginator.page_range %}
            <li {% if page_num == authors.number %} class="active"{% endif %}>
                <a href="?page={{ page_num }}&page_size={{ page_size }}">{{ page_num }}</a>
            </li>
        {% endfor %}

        {% if authors.has_next %}
            <li>
                <a href="?page={{ authors.next_page_number }}&page_size={{ page_size }}"><i class="fa fa-angle-right">后一页qwqs</i></a>
            </li>
        {% endif %}
        </ul> -->
    </div>
    <script type="text/javascript" src="{% static 'jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/author.js' %}"></script>
{% endblock %}