.authorPage {
    padding: 0 120px;
    margin-top: -48px;
}
.weizhi {
    font-size: 14px;
}
.weizhi span {
    font-weight: 700;
}
.weizhi a {
    color: #616161;
    text-decoration: none;
    outline: medium none;
}
.weizhi a:hover {
    color: red;
    text-decoration: none;
}
.authors {
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.authorImg {
    width: 285px;
    height:368px;
    display: block;
}
.authors ul {
    margin-left: -47px;
    margin-bottom: 10px;
    width: 1220px;
    overflow: hidden;
}
.authors ul li {
    box-sizing: border-box;
    float: left;
    width: 285px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    list-style: none;
}
.authorInfo {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    color: #fff;
    text-align: left;
    padding-top: 150px;
    padding-left: 30px;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all ease-in-out .3s;
    pointer-events:none;
}
.authorInfo .author_name {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.authorInfo .author_profile {
    font-size: 16px;
}
.authorInfo .author_workyears {
    font-size: 14px;
    display: inline-block;
    border-top: 1px solid #fff;
    padding-top: 18px;
}